{%extends '/index.html' %}

{%block title%} Login {%endblock%}

{%block css%} 
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{%endblock%}

{%block body%}
<body class="d-flex align-items-center py-4 bg-body-tertiary">
    <main class="form-signin w-100 m-auto">
        <form action="/login" method="post">
            <img class="mb-4" src="{{url_for('static',filename='img/Fondo.jpg')}}" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Inicio de sesion</h1>

            <div class="form-floating">
            <input type="name" class="form-control" id="floatingInput" placeholder="name@example.com" name="nombre">
            <label for="floatingInput">Usuario</label>
            </div>
            <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="contraseña">
            <label for="floatingPassword">Contraseña</label>
            </div>

            <div class="form-check text-start my-3">
            <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Recordar Siempre 
            </label>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Iniciar sesion</button>
            <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>
        </form>
    </main>
</body>
{%endblock%}
